
/* Reglas generales de estructura */
body{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.5rem;
    background-color: lightblue;
    overflow-x: hidden;
}

header, .sticky-top {
    background: $gradiente;
    text-transform: uppercase;
}

main {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

section{
    margin-top: 1rem;
}