/* Reglas para el header y la navegacion superior*/
.logo {
    width: 60%;
    min-width: 200px;
    max-width: 400px;
    padding: 1rem 0 1rem 0;
}

.nav-link {
    color: map-get($color, colorNavLink);

    &:hover {
        box-shadow: $animacionNav;
        animation-name: animation--nav;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        color: map-get($color, colorNavLink);
    }

    @keyframes animation--nav {
        50% {
            border-radius: 20px;
        }
    }
}