// Colores Background
$bkgGradiente: linear-gradient(90deg, #0055c8 0%, #002d9b 15%, #00146e 50%, #002d9b 85%, #0055c8 100%);
$bkgStandar:rgba(224, 224, 224, 0.5);
$bkgSilver:rgba(150, 150, 150, 0.5);
$bkgContainerTranslucid: rgba(128, 128, 128, 0.5);
$bkgPillsActive: #0d6efd;
$bkgFooter: grey;
$bkgBody: lightblue;

// Colores Objetos
$sombraGris: -1px 0 1px grey,
0 1px 1px grey,
1px 0 1px grey,
0 -1px 1px grey;

// Animaciones
$animacionNav: inset -2px 0 5px white,
inset 0 2px 5px white,
inset 2px 0 5px white,
inset 0 -2px 5px white;