@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&display=swap');

/* Regla de reseteo */
* {
    padding: 0;
    margin: 0;
}

@import "variables";
@import "estructura";
@import "map";
@import "mixin";
@import "nav";
@import "footer";

/* Reglas para textos e imagenes en general*/
.titulo {
    font-size: 2.25rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    text-shadow: $sombraGris;
    text-align: center;
    animation-name: titulo;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}

@keyframes titulo {
    0% {
        translate: 100%;
    }

    100% {
        translate: 0;
    }
}

.subtitulo {
    font-size: 2rem;
    font-weight: bold;
    margin: 1.25rem 0 1rem 0;
}

.marca {
    font-weight: bold;
    color: map-get($color, colorMarca);
}

.img__main {
    border: 2px solid white;
    border-radius: 20px;
}

.btn--inicio img {
    @include sizeMargin(2.5rem, 1rem 0 1rem 0);
}

.img__main--index,
.img__main--faqs {
    @extend .img__main;
    @include sizeMargin (33vw, 0 0 1rem 0);
    max-width: 400px;
}

/* Configuracion de la pagina index */

.img--aside {
    @extend .img__main;
    position: sticky;
    top: 150px;
}

.lista--centrada {
    list-style-image: url(../images/gota_listado.svg);
}

/* Configuracion de la pagina servicios */
.container__main {
    background-image: url(../images/background_body.jpg);
    background-size: cover;
    border: 2px solid whitesmoke;
    border-radius: 20px;
    margin-bottom: 1rem;
}

.listado--dispenser {
    border-radius: 20px;
    border: 1px solid grey;
    text-transform: uppercase;
    font-weight: bolder;
}

.lista--tecnico div ul {
    list-style-image: url(../images/gota_listado.svg);
    text-align: left;
}

.listado--dispenser:hover {
    transform: scale(1.2);
    transition-duration: 500ms;
    transition-timing-function: linear;
}

/* Configuracion de la pagina clientes */

.img--logo--clientes {
    @include sizeMargin(40%, 20px 0 0 0);
}

.img--clientes {
    @extend .img__main;
    @include sizeMargin(50vw, 0 0 1rem 0);
}

.container--translucid {
    margin-bottom: 20px;
    background-color: $bkgContainerTranslucid;
    border-radius: 20px;
    padding: 1rem;
    animation-name: clientes;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes clientes {
    0% {
        border-radius: 20px;
        box-shadow: 0 0 30px black;
    }

    50% {
        border-radius: 5px;
        box-shadow: 0 0 10px black;
    }

    100% {
        border-radius: 20px;
        box-shadow: 0 0 30px black;
    }
}


/* Configuracion de la pagina faqs */

.img--aside--izq {
    position: sticky;
    left: 0;
    top: 150px;
}

/* Configuracion de la pagina contacto */

.btn--contacto {
    @include sizeMargin(150px, 0 0 1rem 0);
    font-size: 1.5rem;
    height: 50px;
}



/* MEDIA QUERYS */

@media screen and (max-width: 768px) {

    /* Configuracion general */
    .img__main--index,
    .img__main--faqs,
    .img__main--contacto,
    .img--aside {
        @include sizeMargin(50vw, 0 0 1rem 0);
        max-width: 400px;
    }

    .img--none {
        display: none;
    }

    /* Configuracion de la pagina servicios */

    .lista--tecnico ul {
        margin-left: 4rem;
        padding-right: 4rem;
    }

    .listado--dispenser {
        width: 30vw;
        max-width: 400px;
    }

    .listado--dispenser:hover {
        transform: none;
    }

    /* Configuracion de la pagina clientes */

    .img--logo--clientes {
        @include sizeMargin(80%, 20px 0 0 0);
    }

}

@media screen and (max-width: 576px) {

    /* Configuracion general */

    .nav-pills .show>.nav-link {
        background-color: transparent;
    }

    .nav-pills .show>.active {
        background-color: $bkgPillsActive;
    }

    .img__main--index,
    .img__main--faqs,
    .img--clientes,
    .img__main--contacto,
    .img--aside {
        width: 100%;
        animation-name: imagenes;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }

    @keyframes imagenes {
        0% {
            translate: -120%;
        }

        50% {
            translate: 0;
        }

        100% {
            translate: 120%;
        }
    }

    footer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 1em 1em;
        grid-template-areas:
            "fnav"
            "fdcontacto"
            "fdredes"
            "cr";
        background-color: $bkgFooter;
        text-align: center;
        text-shadow: 0 0 10px black;
        padding-top: 20px;
    }

    /* Configuracion de la pagina clientes */

    .img--logo--clientes {
        @include sizeMargin(60%, 20px 0 0 0);
    }

}