@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&display=swap");
/* Regla de reseteo */
* {
  padding: 0;
  margin: 0; }

/* Reglas generales de estructura */
body {
  overflow-x: hidden;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.5rem;
  background-color: #1584FF;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='489' height='407.5' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.06'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E"); }
  body header,
  body .sticky-top {
    background: linear-gradient(90deg, #0055c8 0%, #002d9b 15%, #00146e 50%, #002d9b 85%, #0055c8 100%);
    text-transform: uppercase; }
  body main {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center; }
  body section {
    margin-top: 1rem; }

.dispenser--space {
  background-color: rgba(224, 224, 224, 0.5); }

.dispenser--silver {
  background-color: rgba(150, 150, 150, 0.5); }

/* Reglas para el header y la navegacion superior*/
.logo {
  width: 60%;
  min-width: 200px;
  max-width: 400px;
  padding: 1rem 0 1rem 0; }

.nav-link {
  color: white; }
  .nav-link:hover {
    box-shadow: inset -2px 0 5px white, inset 0 2px 5px white, inset 2px 0 5px white, inset 0 -2px 5px white;
    animation-name: animation--nav;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    color: white; }

@keyframes animation--nav {
  50% {
    border-radius: 20px; } }

/* Reglas para el footer y la navegacion inferior*/
footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "fnav fdcontacto fdredes" "cr cr cr";
  background-color: grey;
  text-align: center;
  text-shadow: 0 0 10px black;
  padding-top: 10px; }
  footer .footer__nav {
    grid-area: fnav; }
    footer .footer__nav .footer__nav__item {
      display: flex;
      flex-direction: column;
      list-style: none;
      text-shadow: none; }
      footer .footer__nav .footer__nav__item .nav--foot--link {
        text-decoration: none;
        color: Darkblue; }
  footer div .subtitulo--footer {
    font-size: 1.5rem; }
  footer .footer__div--contacto {
    grid-area: fdcontacto; }
  footer .footer__div--redes {
    grid-area: fdredes; }
  footer .copyrigth {
    grid-area: cr;
    margin-bottom: 10px;
    font-size: 1rem;
    text-shadow: none; }
  footer .logos--contacto,
  footer .logos--redes {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 0; }
    footer .logos--contacto .footer__logo,
    footer .logos--redes .footer__logo {
      width: 80px; }

/* Reglas para textos e imagenes en general*/
.titulo {
  font-size: 2.25rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  text-shadow: -1px 0 1px grey, 0 1px 1px grey, 1px 0 1px grey, 0 -1px 1px grey;
  text-align: center;
  animation-name: titulo;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in; }

@keyframes titulo {
  0% {
    translate: 100%; }
  100% {
    translate: 0; } }

.subtitulo {
  font-size: 2rem;
  font-weight: bold;
  margin: 1.25rem 0 1rem 0; }

.marca {
  font-weight: bold;
  color: Blue; }

.img__main, .img__main--index,
.img__main--faqs, .img--aside, .img--clientes {
  border: 2px solid white;
  border-radius: 20px; }

.btn--inicio img {
  width: 2.5rem;
  margin: 1rem 0 1rem 0; }

.img__main--index,
.img__main--faqs {
  width: 33vw;
  margin: 0 0 1rem 0;
  max-width: 400px; }

/* Configuracion de la pagina index */
.img--aside {
  position: sticky;
  top: 150px;
  max-width: 80%; }

.lista--centrada {
  list-style-image: url(../images/gota_listado.svg); }

/* Configuracion de la pagina servicios */
.container__main {
  background-image: url(../images/background_body.jpg);
  background-size: cover;
  border: 2px solid whitesmoke;
  border-radius: 20px;
  margin-bottom: 1rem; }

.listado--dispenser {
  border-radius: 20px;
  border: 1px solid grey;
  text-transform: uppercase;
  font-weight: bolder; }

.lista--tecnico div ul {
  list-style-image: url(../images/gota_listado.svg);
  text-align: left; }

.listado--dispenser:hover {
  transform: scale(1.2);
  transition-duration: 500ms;
  transition-timing-function: linear; }

/* Configuracion de la pagina clientes */
.img--logo--clientes {
  width: 40%;
  margin: 20px 0 0 0; }

.img--clientes {
  width: 50vw;
  margin: 0 0 1rem 0; }

.container--translucid {
  margin-bottom: 20px;
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 20px;
  padding: 1rem;
  animation-name: clientes;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

@keyframes clientes {
  0% {
    border-radius: 20px;
    box-shadow: 0 0 30px black; }
  50% {
    border-radius: 5px;
    box-shadow: 0 0 10px black; }
  100% {
    border-radius: 20px;
    box-shadow: 0 0 30px black; } }

/* Configuracion de la pagina faqs */
.img--aside--izq {
  position: sticky;
  left: 0;
  top: 150px; }

/* Configuracion de la pagina contacto */
.btn--contacto {
  width: 150px;
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  height: 50px; }

/* MEDIA QUERYS */
@media screen and (max-width: 768px) {
  /* Configuracion general */
  .img__main--index,
  .img__main--faqs,
  .img__main--contacto,
  .img--aside {
    width: 50vw;
    margin: 0 0 1rem 0;
    max-width: 400px; }
  .img--none {
    display: none; }
  /* Configuracion de la pagina servicios */
  .lista--tecnico ul {
    margin-left: 4rem;
    padding-right: 4rem; }
  .listado--dispenser {
    width: 30vw;
    max-width: 400px; }
  .listado--dispenser:hover {
    transform: none; }
  /* Configuracion de la pagina clientes */
  .img--logo--clientes {
    width: 80%;
    margin: 20px 0 0 0; } }

@media screen and (max-width: 576px) {
  /* Configuracion general */
  .nav-pills .show > .nav-link {
    background-color: transparent; }
  .nav-pills .show > .active {
    background-color: #0d6efd; }
  .img__main--index,
  .img__main--faqs,
  .img--clientes,
  .img__main--contacto,
  .img--aside {
    width: 100%;
    animation-name: imagenes;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; }
  @keyframes imagenes {
    0% {
      translate: -120%; }
    50% {
      translate: 0; }
    100% {
      translate: 120%; } }
  footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1em 1em;
    grid-template-areas: "fnav" "fdcontacto" "fdredes" "cr";
    background-color: grey;
    text-align: center;
    text-shadow: 0 0 10px black;
    padding-top: 20px; }
  /* Configuracion de la pagina clientes */
  .img--logo--clientes {
    width: 60%;
    margin: 20px 0 0 0; } }
